@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url("../font/Raleway-VariableFont_wght.woff");
    src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype"),
    ("../font/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

*{
    font-family: 'Raleway', sans-serif;
}

h1, h2{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

body{
    margin: 0 auto;
}

.header_container{
    margin: 0 auto;
    background-color: #782221;
    width: 1160px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: white;        
}

body header nav div div{
    width: 190px;
    text-align: center;
}

.header_photoCV{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 0 30px white;
}

.header_photoCV:hover{
    cursor: zoom-in;
}

.header_container_div{
    justify-content: center;
    text-align: center;    
}

.nav_container{
    background-color: #2c1d27;
    width: 1160px;
    display: flex;
    margin: 0 auto;
    color: white;
    justify-content: space-around;
    align-items: center;    
}

a{
    text-decoration: none;
    color: white;
}

.nav_container_link:hover{
    text-decoration: underline;
}

/*--------------------*/

.main_container{
    margin: 0 auto;    
    width: 1160px; 
    display: flex;
    flex-direction: row; 
    align-items: start;
    justify-content: start;
    color: white;    
        
}

.main_container_left{
    background-color: #782221; 
    width: 400px;    
}

.main_container_left_title{
    background-color: #dbc2a4;
    color: black;
    padding: 10px 20px;
}

.main_container_right_title{
    background-color: #dbc2a4;
    color: black;
    padding: 10px 20px;
    border-left: 10px solid #782221;
    width: 650px;
    
}

.main_container_section{
    margin-left: 40px;
}
.main_container_right{
    color: black;
    border-right: 2px solid black;
}

/*--------*/

footer{
    background-color: #782221;
    width: 1160px;
    margin: 0 auto;    
}

.footer_container{    
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    color: white; 
}

.footer_img:hover{
    opacity: 0.5;
}

